<a href="https://colab.research.google.com/github/JyotimoyKashyap/Jupyter-Notebook-Demo/blob/main/test_web_scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Web Scraper Practice**

This is just a test website which I will scrap to practice.

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

Imported the Beautiful Soup library, Requests library and Pandas library

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Below we are storing the url in a url variable and then requesting the data of the url using request library and then pass that data to the BeautifulSoup constructor which converts it into a unicode.

In [ ]:
url = "https://webscraper.io/test-sites/e-commerce/allinone"
data = requests.get(url).text
soup = BeautifulSoup(data, "html5lib")

Let's say we want the title of the page then we will use the tag class to do so

In [56]:
# initialize a dataframe to store the data 
product_data = pd.DataFrame(columns=["Product Name", "Product Image URL" , "Product Price", "Product Description", "Product Reviews Count", "Product Stars Count"])

cards = soup.findAll(class_ = "col-sm-4 col-lg-4 col-md-4")

for div in cards:
  product_name = div.find(attrs={'class' : 'title'}).text

  # Look into this how to fetch
  # product_detail_url = div.findAll('a', href=True)['href']

  product_image = url + str(div.find(attrs={'class' : 'img-responsive'})['src'])
  product_price = div.find(attrs={'class' : 'pull-right price'}).text
  product_description = div.find(attrs={'class' : 'description'}).text
  rating_div = div.find(attrs={'class' : 'ratings'})
  product_reviews = rating_div.find(attrs={'class' : 'pull-right'}).text
  product_stars = str(div.findAll('p')[2])[16:17]

  # append the data that you get 
  product_data = product_data.append({"Product Name":product_name, "Product Image URL":product_image, "Product Price":product_price, "Product Description":product_description, "Product Reviews Count":product_reviews, "Product Stars Count":product_stars}, ignore_index=True)

product_data

         Product Name  ... Product Stars Count
0       Aspire E1-510  ...                   3
1       ThinkPad X230  ...                   3
2  Lenovo ThinkPad...  ...                   1

[3 rows x 6 columns]